html, body {
    background: #000000;
    color: #ffffff;
    height: 100%;
    margin: 0; padding: 0;
}
.text-center {
    text-align: center;
}
.wrapper {
    width: 100%;
    height: 100%;
    min-height: 320px;
    position: relative;
}
.container {
    display: table;
    margin: 0 auto;
    width: 480px;
    height: 100%;
}
.row {
    display: table-row;
    height: 100%;
    width: 480px;
}
.col {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
button {
    border: 0px none;
    border-radius: 10px;
    margin: 0.6em 0 3em 0;
    padding: 1em;
    background: #171111;
    display: inline-block;
    border: 1px #3e483e solid;
}
button.active {
    background: #ede0d8;
}
button:hover, button.active:hover {
    background: #cc2e2d;
    border: 1px #cc2e2d solid;
}
button {
    position: relative;
    z-index: 1;
}
.row::before {
    content: "";
    display: block;
    position: absolute;
    left: 0; right: 0; top: 50%; margin-top: -75px;
    height: 125px;
    width: 100%;
    background: repeating-linear-gradient(
  to bottom,
  #3e483e,
  #3e483e 25px,
  transparent 25px,
  transparent 50px
);
    z-index: 0;
}
